* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../images/background_img.png") fixed center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  cursor: default;
}

h1 {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 2%;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Audiowide", cursive;
  font-size: 40px;
}

h2 {
  text-align: center;
  padding: 1px 3px;
}

h3 {
  padding: 2px 3px;
  font-size: 22px;
}

p {
  font-weight: bold;
  font-size: 18px;
}

button {
  display: block;
  outline: none;
}

i {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-areas:
    ". . . . set-name . . . ."
    ". . . . turn . . . ."
    ". . player1 . results . player2 . ."
    ". . player1 . results . player2 . ."
    ". . . . textbox . . . ."
    ". . . . textbox . . . .";
}

.box {
  width: 80%;
  height: auto;
  border: solid #000000 1px;
  border-radius: 6px;
}

.textbox {
  grid-area: textbox;
  text-align: center;
  margin: auto;
}

.chat-box {
  width: 100%;
  height: 150px;
  border: solid #000000 1px;
  background-color: #ffffff;
  overflow: auto;
  margin-top: 5%;
  text-align: left;
  border-radius: 5px;
}

.set-name {
  grid-area: set-name;
  text-align: center;
}

#turn {
  grid-area: turn;
  text-align: center;
  color: #000000;
}

#player1 {
  grid-area: player1;
  margin: auto;
  background: url("../images/player-1.png") no-repeat;
  background-size: 100% 100%;
}

#results {
  grid-area: results;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 200px;
}

#player2 {
  grid-area: player2;
  margin: auto;
  background: url("../images/player-2.png") no-repeat;
  background-size: 100% 100%;
}

.play1,
.play2 {
  padding: 5px;
  padding-left: 40%;
  padding-right: 40%;
  background-color: transparent;
  border: none;
  opacity: 0.9;
}

#scoretrackerp1,
#scoretrackerp2 {
  padding-left: 3px;
}

#chat,
#name {
  padding: 1px 3px;
  background-color: #307bff;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}

#input-name {
  color: #cccccc;
  -webkit-text-stroke: 0.75px #ffffff;
  font-size: large;
}

.chat-box p {
  margin-left: 2px;
  padding: 1px;
  font-weight: normal;
  font-size: 16px;
}

#user1 {
  color: #001fff;
}

#user2 {
  color: #ff0000;
}

#disconnect {
  color: #ff007c;
}

#player1 h3,
#player2 h3 {
  text-align: center;
}

#scoretrackerp1 span,
#scoretrackerp2 span {
  color: #fefefe;
}

@media only screen and (max-width: 740px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
  .container {
    display: grid;
    grid-template-areas:
      ". set-name ."
      ". player1 ."
      ". results ."
      ". turn ."
      ". player2 ."
      ". textbox .";
  }
  .box {
    width: 40%;
  }
  .set-name {
    margin-bottom: 1%;
  }
  .textbox {
    margin-bottom: 5%;
  }
  #results {
    margin-bottom: 0;
    height: 60px;
  }
  .fa-3x {
    font-size: 2em;
  }
}
